version: "3.8"
services:
  url-shortner:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      redis:
        condition: service_healthy
    ports:
      - 8000:8000
    environment:
      - REDIS_ADDR=redis:6379
      - APP_HOST_NAME=localhost:8000
      - APP_SCHEME=http
    networks:
      - app-network
    restart: unless-stopped
  redis:
    image: redis:alpine
    healthcheck:
      test: ["CMD", "redis-cli","ping"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network
    restart: unless-stopped
    

networks:
  app-network:
    driver: bridge
    
